.d-none {
  display: none;
}

.accordion-button {
  background-color: white;
  border: 3px solid white;
  color: #021130;
  border-radius: 40px;
  cursor: pointer;
  padding: 18px;
  outline: none;
  font-size: 15px;
}

.accordion-content {
  background-color: white;
  overflow: hidden;
  padding: 2rem;
  border-radius: 40px;
}

.svg-trapezoid {
  width: 143px;
  align-self: center;
  margin: 0 auto;
}

.svg-content {
  width: 100%;
  position: absolute;
  top: 45px;
  left: -1px;
  z-index: -1;
}

.content-button {
  background-color: #021130;
  color: white;
  border-radius: 4rem;
  border: none;
  padding: 10px;
  margin-left: 10px;
}

.content-button:nth-child(0) {
  margin-left: 0;
}

.d-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  column-gap: 10px;
  row-gap: 15px;
}
