<button (click)="toggleAccordion()" [ngClass]="{'active': !isHidden}" class="accordion-button">Opzioni <span>▼</span>
</button>
<div class="svg-content" [ngClass]="{'d-none': isHidden}">
  <div class="svg-trapezoid">
    <svg viewBox="0 0 17 3">
      <path d="m 2 0 c 0 2 -2 3 -2 3 h 17 c 0 0 -2 -1 -2 -3" fill="white"/>
    </svg>
  </div>
</div>
<div [ngClass]="{'d-none': isHidden, 'd-grid': !isHidden}" class="accordion-content">
  <button class="content-button">
    <span>💪🏼</span> Rettifica inventariale
  </button>
  <button class="content-button">
    <span>💪🏼</span> Rettifica inventariale
  </button>
  <button class="content-button">
    <span>💪🏼</span> Rettifica
  </button>
  <button class="content-button">
    <span>💪🏼</span> Rettifica inventariale
  </button><button class="content-button">
  <span>💪🏼</span> Rettifica inventariale
</button><button class="content-button">
  <span>💪🏼</span> Rettifica inventariale
</button><button class="content-button">
  <span>💪🏼</span> Rettifica inventariale
</button><button class="content-button">
  <span>💪🏼</span> Rettifica inventariale
</button><button class="content-button">
  <span>💪🏼</span> Rettifica inventariale
</button><button class="content-button">
  <span>💪🏼</span> Rettifica inventariale
</button><button class="content-button">
  <span>💪🏼</span> Rettifica inventariale
</button><button class="content-button">
  <span>💪🏼</span> Rettifica inventariale
</button><button class="content-button">
  <span>💪🏼</span> Rettifica inventariale
</button><button class="content-button">
  <span>💪🏼</span> Rettifica inventariale
</button><button class="content-button">
  <span>💪🏼</span> Rettifica inventariale
</button><button class="content-button">
  <span>💪🏼</span> Rettifica inventariale
</button><button class="content-button">
  <span>💪🏼</span> Rettifica inventariale
</button><button class="content-button">
  <span>💪🏼</span> Rettifica inventariale
</button><button class="content-button">
  <span>💪🏼</span> Rettifica inventariale
</button><button class="content-button">
  <span>💪🏼</span> Rettifica inventariale
</button><button class="content-button">
  <span>💪🏼</span> Rettifica inventariale
</button><button class="content-button">
  <span>💪🏼</span> Rettifica inventariale
</button><button class="content-button">
  <span>💪🏼</span> Rettifica inventariale
</button><button class="content-button">
  <span>💪🏼</span> Rettifica inventariale
</button><button class="content-button">
  <span>💪🏼</span> Rettifica inventariale
</button><button class="content-button">
  <span>💪🏼</span> Rettifica inventariale
</button><button class="content-button">
  <span>💪🏼</span> Rettifica inventariale
</button><button class="content-button">
  <span>💪🏼</span> Rettifica inventariale
</button><button class="content-button">
  <span>💪🏼</span> Rettifica inventariale
</button><button class="content-button">
  <span>💪🏼</span> Rettifica inventariale
</button><button class="content-button">
  <span>💪🏼</span> Rettifica inventariale
</button><button class="content-button">
  <span>💪🏼</span> Rettifica inventariale
</button>

</div>

