<div class="w-100">
  <div [ngClass]="{'d-none': isHidden, 'd-grid': !isHidden}" [style.backgroundColor]="backgroundColor"
       class="accordion-content">
    <button class="content-button" *ngFor="let button of dropdownContent"
            (click)="button.action()"
            [style.backgroundColor]="button?.buttonColor"
            [style.color]="button?.textColor">{{button.title}}
      <i-bs [name]="button?.icon" [style.color]="button?.iconColor" class="button-icon"></i-bs>
    </button>
  </div>
</div>
